[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
openai = "*"

[dev-packages]
watchdog = "*"
psutil = "*"

[requires]
python_version = "3.14"
